body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url(https://res.cloudinary.com/dp8x0d1mj/image/upload/v1531034095/back.jpg);
    min-height:84vh;
    background-position: center;
    background-size: cover;
}