  <div class="text-center center-block" style="background-color:black;">
    <a href="">
      <i id="social-fb" class="fa fa-facebook-square fa-3x social"style="color:white"></i>
    </a>
    <a href="">
      <i id="social-tw" class="fa fa-twitter-square fa-3x social"style="color:white"></i>
    </a>
    <a href="">
      <i id="social-gp" class="fa fa-google-plus-square fa-3x social"style="color:white"></i>
    </a>
    <a href="">
      <i id="social-em" class="fa fa-envelope-square fa-3x social"style="color:white"></i>
    </a>
  </div>